# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=anime_analytics
POSTGRES_PORT=5432

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://localhost:9000
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_PORT=8080

# MLflow Configuration
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_PORT=5000

# Application Ports & Settings
API_PORT=8000
UI_PORT=8501
JIKAN_API_BASE_URL=https://api.jikan.moe/v4
